.accordion{
    overflow: hidden;
   
}
.accordion-collapse{
    margin: 0 !important;
    padding: 0 !important;

}
.accordion-body {
    margin: 0 !important;
    padding: 0 !important;
}
.accordion-item{
    margin: 0 !important;
    padding: 0 !important;
}
.accordion-body learn{
    padding: 16px 20px ;
}

.course{
    color: #fff;
}